* {
  font-size: 62.5%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --border: #dbdbdb;
  --text-color: #262626;
}

html {
  font-family: "Roboto", sans-serif;
}

.main {
  margin-left: auto;
  margin-top: 80px;
  padding: 16px;
  width: 82.5%;
  max-width: calc(100% - 180px);
}

@media screen and (max-width: 767.98px) {
  .main {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    max-width: 100%;
  }
}

th {
  font-size: 1.4rem;
}

thead {
  background-color: #eee;
}

td {
  font-size: 1.4rem;
}

table,
td,
th {
  border: 1px solid #ddd;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  overflow-x: scroll;
}

th,
td {
  padding: 15px;
}
